@font-face {
  font-family: 'RobotoMonoItalic';
  src: url('fonts/RobotoMono-Italic.ttf');
  src: url('../fonts/RobotoMono-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'RobotoMonoBold';
  src: url('fonts/RobotoMono-Bold.ttf');
  src: url('../fonts/RobotoMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'RobotoMonoRegular';
  src: url('fonts/RobotoMono-Regular.ttf');
  src: url('../fonts/RobotoMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* common style */

* {
	padding: 0;
	margin: 0;
}

body {
	color: #fff;
	font-family: "RobotoMonoRegular";
}

p {
	line-height: 1.6em;
}

ul {
	list-style-type: none;
}

/* .section:nth-child(even) {
	text-align: right;
	color: #444;
}

.section:nth-child(odd) {
	text-align: left;
	color: #fff;
} */

.title {
	margin-bottom: 30px;
}

.txt-grey {
	color: #999999;
}

.txt-12 {
	font-size: 12px;
}

.txt-14 {
	font-size: 14px;
}

.txt-16 {
	font-size: 16px;
}

.txt-40 {
	font-size: 40px;
}

.txt-bright-grey {
	color: #e0e0e0;
}

.txt-uppercase {
	text-transform: uppercase;
}

.disc-list {
	list-style-type: disc;
}

.vertical-bor {
	opacity: 0.2;
	border: solid 1px #333333;
}

.bg {
	background-image: url("../images/bg.png");
	background-size: cover;
	background-blend-mode: luminosity;
	background-attachment: fixed;
	background-color: rgba(1, 1, 1, 1);
}

.bor-bg {
	position: fixed;
	top: 0;
    bottom: 0;
    left: 0;
	right: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.side-bar-fixed ul.side-bar li {
	margin-bottom: 22px;
}

.side-bar-fixed ul.side-bar li a, .side-bar-fixed ul.side-bar li a:hover {
	color: #999;
	text-decoration: none;
}

.side-bar-fixed {
	position: fixed;
	top: 35%;
	padding-left: 0;
    left: -14px !important;
}

.side-bar {
	padding-left: 10px;
	border-left: 1px solid #999;
	left: 0;
}

.main-title {
	margin-bottom: 26px;
	font-weight: bold;
	margin-top: 0;
}

.about .profile .name {
	font-weight: bold;
}

.about .profile .job-title {
	margin: 10px 0 30px 0;
}

.about .profile ul li {
	margin-left: 18px;
}

.about .profile-img {
	margin-bottom: 40px;
	position: relative;
	display: inline-block;
	margin-top: 30px;
}
.about .profile-img img {
    width: 320px;
    height: 320px;
    display: inline-block;
    background-color: #000;
}

.about .profile-img img:last-child {
	position: absolute;
    top: -30px;
    right: -100px;
}

.main-skill-content .item {
	margin-bottom: 20px;
}

.exp .item {
	margin-bottom: 24px;
	margin-top: 24px;
}

.exp .main-title {
	margin-top: 70px;
}

.exp .item .time {
	margin-bottom: 10px;
}

.exp ul {
	margin-left: 20px;
}

.contact .contact-title {
	display: inline-block;
}

.contact .contact-detail {
	display: inline-block;
    margin-left: 20px;
}

.centering {
	position: absolute;
    top: 50%;
    left: 0;
	margin-right: -50%;
	transform: translate(0, -50%)
}

@media (min-width: 768px){
	.content {
		padding-left: 0;
	}
}