@font-face {
  font-family: 'RobotoMonoItalic';
  src: url('fonts/RobotoMono-Italic.ttf');
  src: url('../fonts/RobotoMono-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'RobotoMonoBold';
  src: url('fonts/RobotoMono-Bold.ttf');
  src: url('../fonts/RobotoMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
}

/* common style */

* {
	padding: 0;
	margin: 0;
}

body {
	color: #fff;
	font-family: "RobotoMonoItalic";
}

p {
	line-height: 1.6em;
}

ul {
	list-style-type: none;
}

/* .section:nth-child(even) {
	text-align: right;
	color: #444;
}

.section:nth-child(odd) {
	text-align: left;
	color: #fff;
} */

.title {
	margin-bottom: 30px;
}

.txt-grey {
	color: #999999;
}

.txt-13 {
	font-size: 13px;
}

.txt-14 {
	font-size: 14px;
}

.txt-16 {
	font-size: 16px;
}

.txt-40 {
	font-size: 40px;
}

.txt-bright-grey {
	color: #e0e0e0;
}

.txt-uppercase {
	text-transform: uppercase;
}

.disc-list {
	list-style-type: disc;
}

.vertical-bor {
	opacity: 0.2;
	border: solid 1px #333333;
}


/*font family Roboto Mono*/
.bg {
	background-image: url("../images/bg.png");
	background-size: cover;
	background-blend-mode: luminosity;
	background-attachment: fixed;
	background-color: rgba(1, 1, 1, 1);
}

.bor-bg {
	position: fixed;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.section {
	padding-top: 60px;
	padding-bottom: 60px;
}

.side-bar-fixed {
	position: fixed;
    top: 35%;
}

.main-title {
	margin-bottom: 26px;
}

.about .profile {
	/* width: 600px;
	height: 96px;
	font-family: RobotoMono;
	font-size: 14px;
	line-height: 1.71;
	text-align: left; */
	
}

.about .profile .job-title {
	margin: 10px 0 30px 0;
}

.about .profile ul li {
	margin-left: 18px;
}

.about .profile-img {
	margin-bottom: 40px;
	position: relative;
	display: inline-block;
	margin-top: 30px;
}
.about .profile-img img {
    width: 420px;
    height: 420px;
    display: inline-block;
    background-color: #000;
}

.about .profile-img img:last-child {
	position: absolute;
    top: -30px;
    right: -100px;
}

.main-skill .item {
	margin-bottom: 24px;
}

.soft-skill {
	margin-top: 60px;
}

.exp .item {
	margin-bottom: 24px;
	margin-top: 24px;
}

.exp .main-title {
	margin-top: 70px;
}

.exp .item .time {
	margin-bottom: 10px;
}

.exp ul {
	margin-left: 20px;
}

.contact .contact-title {
	display: inline-block;
}

.contact .contact-detail {
	display: inline-block;
    margin-left: 20px;
}